<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a href="#" *ngFor="let item of recipes" class="card" style="width: 18rem;text-decoration:none;">
            <img src={{item.imagePath}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.description}}</p>
            </div>
        </a>
        <!-- <app-recipe-item></app-recipe-item> -->
    </div>
</div>